# .NET
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
bin/
obj/

# Visual Studio
.vs/
.idea/
# Rider
*.sln.iml

# VSCode
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
# Package restore directory
packages/

# Resharper
_ReSharper*
*.DotSettings.user

# DotNet user secrets
secrets.json

# ASP.NET Core development certificates
time-limited-data

# Test results
TestResults/
*/TestResults/*

# Coverage files
coverage*
*.coverage
*.coveragexml

# Server logs
logs/